.tombol-kembali {
    border: 1 px dashed rgb(33, 207. 114);
    color: rgb(242, 177, 27);
    background-color: rgb(26, 26, 85);
    border-radius: 5px;
    font-size: 15px;

    /* margin */
    /* margin: 10px 10px 20px 150px; */
    margin-bottom: 20px;
    margin-left: 10px 15px;
    padding: 5px 15px;
}

/* Ketika kursor ke tombol(hover)*/
.tombol-kembali:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.my-table {
    padding: 20px;
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
}

.my-table th,
td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid rgb(9, 7, 7);
    background-color: rgb(207, 194, 245);
    color: rgb(3, 3, 4);
    back
}

.tombol-edit {
    border: 5px dashed rgb(33, 207. 114);
    color: rgb(0, 0, 0);
    background-color: rgba(15, 230, 33, 0.766);
    border-radius: 8px;
    font-weight: 600;
    padding: 4px 10px;
    color: rgb(15, 15, 13);

}

.tombol-delet {
    border: 5px dashed rgb(33, 207. 114);
    color: rgb(0, 0, 0);
    background-color: rgba(231, 9, 142, 0.973);
    border-radius: 8px;
    font-weight: 600;
    padding: 4px 10px;
    color: rgb(31, 28, 30);
    margin-left: 10;
}

.container {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: 'Arial';
}

.my-table thead th {
    background-color: rgb(73, 28, 129);
    color: rgb(227, 225, 220);
}